.header-container {
  background-color: rgba(0, 0, 0, 0.836);
}

.header-link {
  color: white;
  margin: 5px;
  font-size: 1.2rem;
}

.header-link:hover {
  background-color: rgb(79, 79, 79);
}

#temp-photo-holder {
  color: white;
}

#menu-expand-icon {
  color: white;
}

.brand-icons {
  color: white;
}

.brand-icons:hover {
  cursor: pointer;
}

.brand-icon-container {
  padding: -5;
}

.spacer {
  flex: 1 1 auto;
}