.header-container {
  background-color: rgba(255, 49, 49, 0.694);
}

.header-link {
  color: white;
  margin: 5px;
  font-size: 1.2rem;
}

.header-link:hover {
  background-color: rgb(0, 0, 0);
}

.header-logo-link {
  color: white;
}

#menu-expand-icon {
  color: white;
}

#hidden-menu-expand-icon {
  color: white;
}

.menu-expand-button {
  display: none;
}

.brand-icons {
  color: white;
}

.brand-icons:hover {
  cursor: pointer;
}

.brand-icon-container {
  padding: -5;
}

.spacer {
  flex: 1 1 auto;
}

.nav-items {
  display: inline-block;
}

.hidden-menu-button {
  display: none;
}

@media(max-width: 700px) {
  .menu-expand-button {
    display: inline-block;
  }

  .nav-items {
    display: none;
  }

  .spacer {
    display: none;
  }

  .brand-icon-container {
    display: none;
  }

  .header-logo-link {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }

  .hidden-menu-button {
    display: inline-block;
    visibility: hidden;
  }
}

#header-logo {
  width: 90px;
  height: 40px;
}