<div>
  <mat-toolbar class="header-container">
    <button mat-icon-button class="menu-expand-button">
      <mat-icon id="menu-expand-icon">menu</mat-icon>
    </button>
    <span id="temp-photo-holder">Johnny Mac Customs</span>
    <span class="spacer"></span>
    <div class="brand-icon-container">
      <button mat-icon-button>
        <fa-icon class="brand-icons" [icon]="instagram" size="lg"></fa-icon>
      </button>
      <button mat-icon-button>
        <fa-icon class="brand-icons" [icon]="facebook" size="lg"></fa-icon>
      </button>
      <button mat-icon-button>
        <fa-icon class="brand-icons" [icon]="linkedIn" size ="lg"></fa-icon>
      </button>
    </div>
  </mat-toolbar>
</div>