<div class="container">
  <div class="about">
    <div class="about_photo">
      <img src="../../../assets/about_photo.jpg" alt="Company Founder">
    </div>
    <div class="about_info">
      <h1 style="text-align: center;">Founder of Johnny Mac Customs</h1>
      <p id="details">
        I (John McWilliam) have 25 years in the auto industry mostly as a body man and fabricator with
        the occasional trip through the paint booth to help the painter. I know owning
        a classic or antique car or truck is not a cheap hobby but more of a life style
        that requires financial planning. I will do my utmost to help my customers stay
        within their budget and move forward with repairs and restorations in a timely 
        manner. Not only do I build custom rides and complete restorations, I also do 
        maintenance and upgrades for our customer’s already built cars. Brakes, air 
        conditioning, power steering conversions, new wheels and tires, even oil changes.
        I only use quality products at Johnny Mack Customs, new suspension parts, sheet metal
        panels and engine components all seem to look and work better than cheap parts that
        are so readily available. Even the tire shine, polish and wax matter, the body filler,
        primer, paint, oil, and antifreeze in the motor all matter. I always use the best products
        to keep my customer’s cars looking good and running like the timeless classics they are.
      </p>
    </div>
  </div>
</div>
