// elements //

// ids //

#details {
  font-size: 1.5rem;
  padding: 2px;
}

// classes //

.about {
  padding: 50px;

  &_photo {
    width: 770px;
    height: 575px;
    float: left;
    margin-right: 20px;
  }

  &_info {
    display: inline;
    line-height: 1.6;
  }
}

